/*
Color Scheme Guidelines:

Primary Color: #2782CF;
Secondary Color: #F59949;
Primary Accent: #1D629C;
Secondary Accent: #C2793A;
Primary Text: #FFFFFF;
Accent Text: #000000;

*/

.h1 { color:red;
	  font-size: 100;}

@keyframes test1 {
	from {color: red;}
	to {color: yellow;}
}


@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}
.navbar{
  height: 6vh;
}
.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.column-colored {
		background-color: red;
}

.navbar-shadow {
		box-shadow: 0 0 10px;

}

.mcm-background {
		padding-top:50px;
}

.mcm-background.mentors {
		background-color: #2782CF
}


.center-title {
		font-size: 40pt;
		font-family: "Allerta Stencil", sans-serif;
}

.center-title.wtxt {
		color: white;
}

.heading-2 {
		color: white;
		font-size: 25pt;
		font-family: 'Palanquin', sans-serif;
		text-align: center;
}
.section {
	height: 93.7vh;
}

.section.orange {
  background-color: #F59949;
}

.section.left {
  background: linear-gradient(to right bottom, #2782CF 50%, #F59949 50%);
}

.section.right {
  background: linear-gradient(to left top, #2782CF 50%, #F59949 50%);
}
.section.blue {
  background-color: #2782CF;
}

.section.two-tone-blue{
  background: linear-gradient(to right bottom, #2782CF 50%, #1D629C 50%);
}

.section.two-tone-blue.flipped{
  background: linear-gradient(to left top, #2782CF 50%, #1D629C 50%);
}

.section.two-tone-blue.shadow{
  background: linear-gradient(to right bottom, #2782CF 49.25%, #000000 .5%, #1D629C 49.25%);
  height: 93.7vh;
}

.section.two-tone-blue.shadow.test {
  background: linear-gradient(to left top, #1D629C  49.25%, #000000 .5%, #2782CF 49.25%);
}

.section.two-tone-blue.shadow.flipped {
  background: linear-gradient(to left top, #2782CF 49.5%, #000000 .5%, #1D629C 50%);
  height: 93.7vh;
}
.section.two-tone-orange{
  background: linear-gradient(to right bottom, #F59949 50%, #C2793A 50%);
}

.section.two-tone-orange.shadow{
  background: linear-gradient(to right bottom, #F59949 49.5%, #000000 .5%, #C2793A 50%);
  height: 93.7vh;
}

.section.two-tone-orange.shadow.flipped {
  background: linear-gradient(to left top, #F59949 49.5%, #000000 .5%, #C2793A 50%);
}
}

img.center {
    display: block;
    margin: 0 auto;
}

img.icon-graphic {
    width: 50%
}

img.top-logo {
    width: 37%;
}
.coming-soon.background {
    background-color: #2782CF;
    height: 100vh;
}

.row.icon-container {
  padding-top:5vh
}

/*SLIDE TITLE*/

.title-slide {

  animation-duration: 5s;
  animation: slowdownslide;
}

.delay-1-s{
  animation-delay: 1.5s;
}

.delay-half-s {
  animation-delay: .5s;
}

@-webkit-keyframes slowdownslide {
  from {
    margin-right: 100%;
  }

  to {
    margin-right: 80%;
  }
}

/*ROW COLORING*/
.row.primary-blue {
  background-color: #2782CF;
  z-index: 5;
}
.row.accent-blue {
  background-color: #1D629C;
}

/*STUDENTS PAGE*/

.row.student-title-page {
    padding-left: 5%;
    width: 70%;
}

.row.student-title-page.top {
    padding-top: 2.5%
}

.student-title-page {
  font-family:'Allerta Stencil', sans-serif; 
  color: white;
  animation-delay: 1.5s;
  text-align: left;
}

.student-title-page.top {
  animation-delay: .5s;
}

.row.student-title-page.p {
  width:40%;
  padding-top: 1.5%;
}

.student-title-page.p {
  font-family: 'Palanquin', sans-serif;
  animation-delay: 3s;
  padding-top: 1%;
  font-size: 11pt;
}

.student-title-page.p.p2 {
  width: 40%;
}
